<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
    <h1>Todo List</h1>
    <ul>
        <% todos.forEach(function(todo) { %>
            <li>
                <strong>Title:</strong> <%= todo.title %><br>
                <strong>Description:</strong> <%= todo.description %><br>
                <strong>Completed:</strong> <%= todo.completed ? 'Yes' : 'No' %><br>
                <% if (todo.dueDate) { %>
                    <strong>Due Date:</strong> <%= todo.dueDate.toLocaleDateString() %><br>
                <% } else { %>
                    <strong>Due Date:</strong> Not specified<br>
                <% } %>
            </li>
            <br>
        <% }) %>
    </ul>
</body>
</html>
